/* write the default CSS for smaller screens */

body {
    background-color: tan;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
}

#submit {
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
}

#students {
    display: flex;
    flex-direction: column;
}


/*
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5%;
} */

@media (min-width:600px) {
    /* over-write only styles that need to be changed for bigger screens*/
    #form {
        grid-template-columns: repeat(6, 1fr);
    }
    #students {
        flex-direction: row;
        justify-content: space-around;
    }
    /* 
    header {
        flex-direction: row;
    } */
}